<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skill Practicum | Вход</title>
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
    <form action="" method="POST">
        <h1>Авторизация</h1>
        <input required name="login" type="text" placeholder="Логин">
        <br>
        <input required name="password" type="text" placeholder="Пароль">
        <br>
        <input type="submit" value="Войти">
    </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="inform">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
</body>
</html>